/.venv
/__pycache__
/data_splits
/pneumonia_dataset
/vit_baseline.pth
/covid_only_train
/covid_only_generated
/covid_only_attn_generated
/covid_diffuser.pt
/covid_diffuser_attn.pt
/vit_with_generated.pth
/vit_with_attn_generated.pth